.product-image {
    width: 100%;
    height: 200px; /* You can adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
}
  

  
ion-card-subtitle {
    color: #3880ff;
    margin-top: 10px;
}

ion-chip{
    margin-top: 10px;
}