
<ion-header>
  <ion-toolbar>
    <ion-title>{{ producto?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="producto?.image" alt="{{ producto?.title }}"/>
    <ion-card-header>
      <ion-card-subtitle>{{ producto?.category }}</ion-card-subtitle>
      <ion-card-title>{{ producto?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ producto?.description }}</p>
      <h2>${{ producto?.price }}</h2>
      <ion-item>
        <ion-label>Rating: {{ producto?.rating?.rate }} ({{ producto?.rating?.count }} reviews)</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
